
body{
    position: relative;
    display: flex;
    flex-direction: column;
    font-style: italic;
    align-items: center;
    background: linear-gradient(-45deg, #ee7752, #ffd87d, #23a6d5, #23d5ab);
    background-size: 200% 100%;
    animation: gradient 20s ease infinite;
    height: 100vh;
}

@keyframes gradient{
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 100%;
    }
}


.top{
    display: flex;
    justify-items: center;
    margin-bottom: 100px;
    margin-top: 100px;
    padding: 10px;
}

.title{
    border-radius: 55px;
    padding: 20px;
    background-color: rgb(104, 46, 82);
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.selection{
    display: flex;
    justify-content: center;
    width: 250px;
    margin: auto;
    justify-self: flex-start;
    box-shadow: 0px 1px;
}

.botSelection{
    display: flex;
    justify-content: center;
    width: 250px;
    margin: auto;
    justify-self: flex-end;
    box-shadow: 0px 1px;
}

.choices{
    visibility: hidden;
    border-radius: 55px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(50px);
    color: rgb(61, 61, 18);
    font-size: 25px; 
    font-weight: 300;
    
}

.start{
    background-color: #ffd87d;
    border-radius: 115px;
    font-size: 65px;
    padding: 70px;
    margin-top: 100px;
    z-index: 9;
    box-shadow: 0px 1px;
}

.gameScreen{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(10px);
}

.action{
    filter: brightness(1.1);
    transform: scale(1.1);
    box-shadow: 0px 1px;
}

img{
    border-radius: 75px;
    width: 320px;
    height: 200px;
    padding: 20px;
    filter: drop-shadow(10px 5px 20px #4444dd);
}

.buttons{
    display: flex;
    justify-content: space-around;
    border-radius: 90px;
}

.button{
    display: flex;
    justify-content: center;
    justify-items: auto;
    width: 100px;
    padding: 15px;
    margin: 20px;
    background-color: aquamarine;
    color: black;
    font-size: 25px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 90px;   
}

.score, .results, .round{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 75px;
    background-color: black;
    color: white;
    font-size: 25px;
}