body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    font-style: italic;
    align-items: center;
    background: linear-gradient(-45deg, #ee7752, #ffd87d, #23a6d5, #23d5ab);
    background-size: 200% 100%;
    animation: gradient 20s ease infinite;
    height: 100vh;
}
@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 100%;
    }
}

img{
 border-radius: 75px;
 width: 320px;
 height: 200px;
 padding: 20px;
 filter: drop-shadow(10px 5px 20px #4444dd);
}

.top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 100px;
    
}

.title{
    border-radius: 55px;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(12, 12, 222);
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.choices{
    border-radius: 55px;
    background-color: #4444dd;
    font-size: 25px; 
    padding: 20px;
}

.gameScreen{
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(10px);
}

.buttons{
    display: flex;
    justify-content: space-around;
    background-color: #23a6d5;
    border-radius: 90px;
}

.button{
    display: flex;
    justify-content: center;
    justify-items: auto;
    width: 100px;
    padding: 15px;
    margin: 20px;
    background-color: aquamarine;
    color: black;
    font-size: 25px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 90px;
}

.score, .results, .round{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 75px;
    background-color: black;
    color: white;
    font-size: 25px;
    
    
}